body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Grijs als achtergrondkleur */
    background-image: url('https://png.pngtree.com/background/20230617/original/pngtree-blue-electronic-circuit-board-with-cpu-data-flow-in-3d-rendering-picture-image_3708596.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(80%) blur(5px);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Donkere achtergrondkleur met wat transparantie */
    padding: 15px;
    box-sizing: border-box;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin-right: 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px;
}