body {
    margin: 0;
    padding: 0;
    background: url('https://png.pngtree.com/background/20230617/original/pngtree-blue-electronic-circuit-board-with-cpu-data-flow-in-3d-rendering-picture-image_3708596.jpg') center/cover fixed no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
/* Vervaging van de achtergrond */
::after {
    content: "";
    background: url('https://png.pngtree.com/background/20230617/original/pngtree-blue-electronic-circuit-board-with-cpu-data-flow-in-3d-rendering-picture-image_3708596.jpg') center/cover fixed no-repeat;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px); /* Aanpassen voor de mate van vervaging */
}
