body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #000000; 
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
    padding: 14px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #0000ff; 
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 200px;
    z-index: 1;
    top: 100%;
    left: 0;
    text-align: left;
}

.dropdown-content a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #0000ff;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu-content {
    display: none;
    position: absolute;
    background-color: #000000;
    left: 100%;
    top: 0;
    z-index: 2;
}

.dropdown-submenu-content a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.dropdown-submenu-content a:hover {
    background-color: #0000ff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-submenu:hover .dropdown-submenu-content {
    display: block;
}
footer {
    background-color: #000000; 
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 16px;
}
.content {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #000000; 
    text-align: left;
    line-height: 1.6;
    display: flex;
    flex-direction: column; 
    gap: 20px;
    opacity: 1; 
}

.content h1, .content h2, .content h3 {
    color: #8c8c8c; 
    margin-top: 0; 
    margin-bottom: 3px; 
    padding: 0; 
}
.content p {
    margin-top: 0;
    margin-bottom: 10px; 
    font-size: 16px;
    padding: 0; 
}